@import "src/app/theme/styles/variables";

.card-product{
    .image{
        border-radius: 8px 8px 0 0;
        height: 80px;
        position: relative;
        overflow: hidden;
        background: $background-color;
    }
    .product{
        text-align: center;
        text-transform: none;
        margin-top: -65px;
        img {
            cursor: pointer;
            transition: 0.4s ease-out;  
        }
        .img-selected:hover {
            transform: scale(1.05);
            transition: 0.4s ease-out;  
        }
        .title{
            color: $title-color;
            font-weight: normal;
            -webkit-transition: max-height 0.35s ease-out;  
            -moz-transition: max-height 0.35s ease-out;  
            transition: max-height 0.35s ease-out;  
        }
        .selected:hover {
            cursor: pointer;
            font-weight: bolder;
            -webkit-transition: max-height 0.35s ease-out;  
            -moz-transition: max-height 0.35s ease-out;  
            transition: max-height 0.35s ease-out;  
        }
    }
    .price {
        color: $title-color;
    }
    .product-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 15px;

        &.border-white{
            border: 5px solid white;
        }
    }
    .title{
        font-weight: 600;
        line-height: 24px;
    }
    .content-product{
        min-height: 200px;
    }
    .footer{
        padding: 5px 15px 10px;
        small {
            color: $title-color;
        }
    }
    hr{
        margin: 5px 15px;
    }
}
