<!--******************************************************************************* -->
<!-- Página para la búsqueda de productos de mercado libre -->
<!--******************************************************************************* -->
<nubimetrics-search-input-form placeholder="Buscar productos de Mercado Libre..." (text)="searchProduct($event)"></nubimetrics-search-input-form>
<nubimetrics-products-list [products]="products"></nubimetrics-products-list>
<!--******************************************************************************* -->
<!-- END Página para la búsqueda de productos de mercado libre -->
<!--******************************************************************************* -->