<!--******************************************************************************* -->
<!-- Cabecera principal -->
<!--******************************************************************************* -->
<nav class="navbar navbar-expand-lg fixed-top">
  <img src="assets/images/logos/logo.svg">
  <button class="navbar-toggler btn-outline-primary" type="button">
    <i class="fa fa-power-off" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    <h3 class="font-title white">Mini-challenge</h3>
  </div>
</nav>
<!--******************************************************************************* -->
<!-- END Cabecera principal -->
<!--******************************************************************************* -->