
// Color de tema
$background-color: #222;

// Color de titulos
$title-color: #333;

// Altura del header
$header-height: 56px; 

// Padding del contenedor
$flex-distance: 8px;
$inner-content-padding: $flex-distance;