<!--******************************************************************************* -->
<!-- Listado de los productos referentes a la búsqueda del usuario -->
<!--******************************************************************************* -->
<div class="card-columns pt-10">
  <div *ngFor="let product of products">
    <nubimetrics-product-card [product]="product"></nubimetrics-product-card>
  </div>
</div>
<div *ngIf="!products.length" class="alert alert-info text-center" role="alert">
  <h3 class="font-title">No se encontraron resultados que coincidan con su búsqueda</h3>
  <div class="pt-10">
    <p>Verifica que las palabras ingresadas estén escritas correctamente</p>
  </div>
</div>
<!--******************************************************************************* -->
<!-- END Listado de los productos referentes a la búsqueda del usuario -->
<!--******************************************************************************* -->